/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    GENERAL  STYLES    
    =============================================*/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    background: #202020;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #fff;
}

#page-inner {
    width: 100%;
    margin: 20px 20px 10px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 800px;
}

.text-center {
    text-align: center;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

h2 {
    color: #f00;
}

h4 {
    padding-top: 10px;
}

.square-btn-adjust {
    border: 0px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}


/*==============================================
   DASHBOARD STYLES    
    =============================================*/

.panel-back {
    background-color: #F8F8F8;
}

.noti-box {
    min-height: 100px;
    padding: 20px;
}

.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.text-box p {
    margin: 0 0 3px;
}

.main-text {
    font-size: 25px;
    font-weight: 600;
}

.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.bg-color-green {
    background-color: #00CE6F;
    color: #fff;
}

.bg-color-blue {
    background-color: #A95DF0;
    color: #fff;
}

.bg-color-red {
    background-color: #DB0630;
    color: #fff;
}

.bg-color-brown {
    background-color: #B94A00;
    color: #fff;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #8702A8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.main-temp-back .text-temp {
    font-size: 40px;
}

.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #2EA7EB;
    color: #fff;
}

.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}

.back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}

.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}


/*CHAT PANEL*/

.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}

.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}

.chat-box li.left .chat-body {
    margin-left: 90px;
}

.chat-box li .chat-body p {
    margin: 0;
    color: #8d8888;
}

.chat-img>img {
    margin-left: 20px;
}


/*==============================================
    MENU STYLES    
    =============================================*/

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}

.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #d7d7d7;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}

.active-menu {
    background-color: #C90000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav>li>a {
    color: #fff;
    text-shadow: none;
}

.sidebar-collapse>.nav>li>a {
    padding: 15px 10px;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {
    
    outline: 0;
   
}

.nav-second-level>li>a:before,
.nav-third-level>li>a:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 15px;
    height: 1px;
    background: #ff0000;
    top: 20px;
}

.nav-second-level>li>a:after,
.nav-third-level>li>a:after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    background: #ff0000;
    top: 0px;
    z-index: 10;
}

.nav-second-level>li:last-child>a:after,
.nav-third-level>li:last-child>a:after {
    height: 50%;
}

.nav-third-level>li>a:after,
.nav-third-level>li>a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
    z-index: 101;
    position: fixed;
}

.navbar-cls-top {
    background: #b7b7b7;
    border-bottom: none;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-cls-top .navbar-brand:hover {
    background: #C90000;
    color: #fff;
}

.navbar-default {
    border: 0px solid black;
    position: fixed;
}

.navbar-header {
    background: #A70303;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav>li>a>i {
    margin-right: 10px;
}
.admin-logout-text{
    display: inline;
    padding-right: 5px;
    color: #333;
}
.logout-text{
    opacity: 0;
    position: absolute;
   top: 4px;

right: 6px;

color: red;

height: 63px;

width: 60px;

padding-left: 6px;
}
.logout-text:hover{
    opacity: 1;
}
.admin-logout:hover {
    display: block;
}

.admin-logout:hover{
    color: red;
    } .admin-logout-a:hover{
    color: red;
}
.admin-logout-text p:hover{
    text-decoration: none;
    color: red;
}
.admin-image {
    max-width: 60px;
    border-radius: 50px;
    border: 3px solid #fff;
}
.admin-image:hover .logout-text{
display: block;
}
a:hover{
    text-decoration: none;
}

.side-nav-brand {
    background: #d7d7d7;
}

.admin-card {
    background: rgba(107, 108, 109, 0.7);
    height: inherit;
    border-radius: 5px;
    margin: 10px 0px;
}

.card-text {
    padding-top: 20px;
}

.cd-bg-img1 {
    background: url('../img/Landlords.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 5px;
}

.cd-bg-img2 {
    background: url('../img/Properties.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 5px;
}

.cd-bg-img3 {
    background: url('../img/ResPro.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 5px;
}

.cd-bg-img4 {
    background: url('../img/CommPro.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 5px;
}

.card-text-admin {
    font-size: 1.2em;
    color: #fff;
}

.side-bar-icons {
    padding-right: 5px;
    height: 35px;
}

.side-nav-text {
    vertical-align: bottom;
    font-size: 1.3em;
}

.side-bar-nav-admin {
    height: 150px;
}

.side-bar-nav-admin-ul {
    display: flex;
    color: #fff;
    padding: 20px 50px;
    height: 100px;
    box-shadow: 0px 10px 10px #000;
 
}

.side-bar-nav-admin-ul li {
    list-style-type: none;
    padding-right: 5px;
    padding-top: 10px;  
}

.side-bar-nav-img {
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50px;
}

.nav-bar-li-hov:hover {
    color: #A70303;
    color: #fff;

}

.nav-bar-li-hov a:hover{
    background-color: #8c0101  !important;
}
.p-0 {
    padding: 0px;
}


/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.black-arrow {
    font-family: 'Song Myung', serif;
    font-size: 2.8em;
    padding-top: 60px;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 900px;
    }
    .navbar-side {
        z-index: 101;
        position: fixed;
        width: 260px;
    }
    .navbar {
        border-radius: 0px;
    }
}